span {
  display:inline-block
}
  .contraindication {
      border-width: 3px;
      border-style: solid;
      border-color: #FF0000;
        padding: 1em; 
  }

  .pregnancyCategory {
    border-width: 3px;
    border-style: solid;
    border-color: #00bfff;
      padding: 1em; 
}


.breastfeedingCategory {
  border-width: 3px;
  border-style: solid;
  border-color: #7fd11b;
    padding: 1em; 
}

.lactose {
  border-width: 3px;
  border-style: solid;
  border-color: #FF00FF;
    padding: 1em; 
}